resources/wsdl/ShopCustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoggerService"
	targetNamespace="http://example.shop.skjolber.github.com/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:e="http://example.shop.skjolber.github.com/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://example.shop.skjolber.github.com/v1" schemaLocation="ShopCustomerService.xsd" />
		</xsd:schema>
	</wsdl:types>

    <!-- Messages -->
    
	<wsdl:message name="getItemsRequest">
		<wsdl:part name="parameters" element="e:getItemsRequest" />
	</wsdl:message>
	<wsdl:message name="getItemsResponse">
		<wsdl:part name="parameters" element="e:getItemsResponse" />
	</wsdl:message>

	<wsdl:message name="shopException">
		<wsdl:part name="fault" element="e:shopException" />
	</wsdl:message>

	<wsdl:message name="customerException">
		<wsdl:part name="fault" type="e:customerException" />
	</wsdl:message>

    <wsdl:message name="shopHeader">
        <wsdl:part element="e:shopRequestHeader" name="shopHeader"/>
    </wsdl:message>
    
    <!-- Port types -->
    
	<wsdl:portType name="ShopCustomerServicePortType">
		<wsdl:operation name="getItems">
			<wsdl:input message="e:getItemsRequest" />
			<wsdl:output message="e:getItemsResponse" />
			<wsdl:fault name="shopException" message="e:shopException"/>
			<wsdl:fault name="customerException" message="e:customerException"/>
		</wsdl:operation>
	</wsdl:portType>
	
    <!-- Bindings -->	

	<wsdl:binding name="ShopCustomerServiceBinding" type="e:ShopCustomerServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getItems">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:header message="e:shopHeader" part="shopHeader" use="literal"/>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="shopException">
				<soap:fault name="shopException" use="literal"/>
			</wsdl:fault>			
		</wsdl:operation>
	</wsdl:binding>
	
    <!-- Services -->
    	
	<wsdl:service name="ShopCustomerService">
		<wsdl:port name="ShopCustomerServicePort" binding="e:ShopCustomerServiceBinding">
			<soap:address location="http://localhost:50000/services/shopCustomer" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>