wsdl2html/src/test/org/jaxws/wsdl2bytecodes/service/datatype-sample-wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AddImplService"
	targetNamespace="http://jaxws.java6.learn.chen.kent.player/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.java6.learn.chen.kent.player/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://jaxws.java6.learn.chen.kent.player/" version="1.0"
			xmlns:tns="http://jaxws.java6.learn.chen.kent.player/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="add" type="tns:add" />
			<xs:element name="addResponse" type="tns:addResponse" />
			<xs:complexType name="add">
				<xs:sequence>
					<xs:element minOccurs="0" name="request" type="tns:addRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addRequest">
				<xs:sequence>
					<xs:element name="theInt" type="xs:int" />
					<xs:element name="theLong" type="xs:long" />
					<xs:element name="theFloat" type="xs:float" />
					<xs:element name="theDouble" type="xs:double" />
					<xs:element name="theByte" type="xs:byte" />
					<xs:element name="theShort" type="xs:short" />
					<xs:element name="theBoolean" type="xs:boolean" />
					
					<xs:element name="theUnsignedInt" type="xs:unsignedInt" />
					<xs:element name="theUnsignedShort" type="xs:unsignedShort" />
					<xs:element name="theUnsignedBypte" type="xs:unsignedByte" />
					
					
					<xs:element name="theDate" type="xs:unsignedByte" />
					
					
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters">

		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Add">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add">

			</wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddImplServiceSoapBinding" type="tns:Add">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />

			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddImplService">

		<wsdl:port binding="tns:AddImplServiceSoapBinding" name="AddImplPort">
			<soap:address location="http://localhost:9999/ws/add" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>